h2 {
    margin: 0 !important;
}

.mat-frontlayer-title {
    align-items: flex-end;
}

.mat-frontlayer-content {
    color: #616161;
    font-size: 14px;
}

.document-title {
    margin-top: 16px;
    margin-bottom: 12px;
    font-weight: bold;
}