<mat-toolbar>
    <div>
        <button mat-flat-button color="primary" [routerLink]="['/home']"
            style="width: 40px !important; min-width: unset!important; border-radius: 8px;">a</button>
        &nbsp;arco
    </div>
    <div fxFlex="1 1 auto"></div>
    <div>
        <button fxHide.xs fxShow.gt-xs mat-button (click)="drop()">press</button>
        <button fxHide.xs fxShow.gt-xs mat-button (click)="open3()">open3</button>
        <button mat-flat-button color="primary">Login</button>
    </div>
</mat-toolbar>
<div style="margin-left: 20px; margin-right: 20px;" *ngIf="showSettings()">
    <mat-checkbox class="example-margin" [(ngModel)]="disabledList">Disable List</mat-checkbox>
</div>
<ng-template #frontLayer>
    <front-layer-title>
        <h2>My Subtitle Part 2</h2>
        <mat-divider></mat-divider>
    </front-layer-title>
    <front-layer-content>
        <p style="margin-top: 20px;" *ngIf="!disabledList">
            <li *ngFor="let item of items">{{ item.text }}</li>
        </p>
        <p style="margin-top: 20px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam imperdiet
            lacinia
            nulla,
            eget convallis dui
            iaculis in. Mauris leo neque, blandit ut ornare vel, posuere vel purus. Morbi hendrerit sed nisi ac
            pellentesque. Donec est tellus, tincidunt consectetur neque quis, cursus ullamcorper metus. Ut at augue
            facilisis, dapibus dui at, imperdiet ex. Pellentesque tincidunt mi a odio tincidunt, in scelerisque dui
            finibus.
            Vivamus dapibus orci vitae lacus bibendum mattis. Pellentesque habitant morbi tristique senectus et
            netus et
            malesuada fames ac turpis egestas. Aliquam lorem lectus, pulvinar non quam sit amet, feugiat lobortis
            nisi.
            Vivamus iaculis consequat sodales. Vivamus odio ante, tempus in suscipit quis, volutpat eget metus.
            Suspendisse
            et interdum metus, nec ullamcorper sapien. Maecenas ut mauris non urna tempor venenatis. Vivamus
            hendrerit
            risus
            enim, vel rhoncus est dapibus non.</p>
        <p>Phasellus placerat arcu eu nisl molestie aliquam. Vestibulum suscipit justo ac eros commodo volutpat.
            Aenean
            porttitor, justo a vestibulum accumsan, erat augue euismod orci, eget auctor metus eros eu mi. Aenean
            sit
            amet
            consequat lorem, vitae rutrum mi. Aenean accumsan urna eu porta consectetur. Nam ut enim cursus massa
            malesuada
            vehicula. Etiam volutpat, arcu et posuere ultricies, orci est cursus elit, non lacinia dolor libero ac
            tellus.
        </p>
        <p>Praesent hendrerit dui in orci tempor, id sagittis nibh auctor. Nam at nunc eu arcu elementum pulvinar.
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean
            molestie
            enim nec sem venenatis interdum. Cras semper suscipit aliquet. Donec ac tempor ante. Vestibulum
            vestibulum
            ipsum
            eget elit finibus, sit amet placerat nisi gravida.</p>
        <p>Vivamus rutrum vel dui vehicula fringilla. Donec varius, sem vitae gravida viverra, lacus neque fermentum
            lorem,
            vel mollis nisl lorem quis arcu. Phasellus tempus libero in ipsum vestibulum, id finibus enim placerat.
            Praesent
            nec enim sed sapien luctus condimentum. Aliquam orci quam, faucibus ac libero id, tincidunt molestie
            velit.
            Ut
            nibh enim, interdum tincidunt enim non, vestibulum posuere libero. Pellentesque velit nibh, dignissim
            nec
            odio
            non, cursus rutrum mi. Curabitur scelerisque tellus tortor, id dictum orci sodales et. Maecenas nulla
            dolor,
            porta ut eros eu, placerat sodales turpis. In elit magna, dignissim sed commodo ac, scelerisque eget mi.
            Pellentesque ut neque nulla. Etiam aliquet, magna sit amet luctus malesuada, neque sapien vehicula elit,
            vel
            sodales quam neque at urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel porta
            dolor,
            eget
            imperdiet nisi. Sed venenatis blandit augue, at vestibulum metus iaculis quis. Donec porttitor, risus in
            consectetur auctor, dui est posuere justo, elementum interdum lorem ipsum nec sapien.</p>
        <p>Aenean convallis leo eros, eget ultrices orci commodo at. Curabitur congue arcu ut mauris faucibus
            bibendum.
            Vivamus pretium porta diam non fermentum. Maecenas porttitor magna vel pellentesque aliquet. Integer
            faucibus
            erat sapien, at convallis neque eleifend et. Donec auctor porttitor ligula nec porta. In eleifend
            molestie
            lorem
            eu molestie. Sed dapibus urna sed porttitor pharetra. Quisque pharetra cursus lorem sit amet vestibulum.
            Integer
            erat justo, scelerisque non ultricies nec, malesuada ac ante. Fusce ac eros risus. Etiam est purus,
            laoreet
            vel
            eleifend ut, molestie in purus. Nam sit amet mi ante. Aenean aliquam vulputate tortor, a cursus mauris
            vulputate
            id. Aenean viverra, erat vitae malesuada aliquam, nulla urna varius lacus, eu tristique odio neque et
            neque.
            In
            hac habitasse platea dictumst.</p>
        <p>Ende</p>
    </front-layer-content>
</ng-template>