$border-radius: 20px;

.front-layer-container {
    background-color: white;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}

@keyframes drop {
    from { margin-top: var(--s, 56px) }
    to { margin-top: var(--e, 256px); opacity: 50%; pointer-events: none; }
}

@keyframes lift {
    from { margin-top: var(--s, 256px) }
    to { margin-top: var(--e, 56px) }
}