<!-- <mat-backdrop [matBackdropTriggerFor]="frontlayer"> -->
<mat-backdrop>

    <mat-backlayer [color]="settings.backlayerColor">
        <mat-backlayer-title>
            <button mat-backlayer-toggle [offset]="'250px'" (close)="onClose()">
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-button [mat-backlayer-switch-tab]="0">tab0</button>
            <button mat-button [mat-backlayer-switch-tab]="1">tab1</button>
            <button mat-button [mat-backlayer-switch-tab]="2">tab2</button>
            <button mat-button (click)="toggle()">toggle</button>
            <div style="flex: 1 1 auto;"></div>
            <button *ngIf="!settingsOpened" mat-backlayer-move [offset]="'full'" (move)="onOpenSettings()">
                <mat-icon>tune</mat-icon>
            </button>
        </mat-backlayer-title>
        <mat-backlayer-content fxLayout="column">
            <div fxLayoutAlign="center center">
                <mat-form-field class="search-input" appearance="fill" color="accent">
                    <mat-label>Search</mat-label>
                    <input #searchInput matInput [formControl]="filter" autocomplete="off"
                        (keydown.enter)="onEnter($event)">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
            <mat-divider class="divider"></mat-divider>
            <app-settings></app-settings>
        </mat-backlayer-content>
    </mat-backlayer>

    <!-- <mat-frontlayer #frontlayer>
        <div mat-frontlayer-title>
            <h2>Documents</h2>
            <span style="flex: 1;"></span>
            <button mat-frontlayer-drop [offset]="'250px'">
                <mat-icon>expand_more</mat-icon>
            </button>
        </div>
        <mat-frontlayer-content>
            <ng-container *ngIf="filteredDocuments$ | async as documents">
                <mat-list>
                    <mat-list-item matRipple class="list-item" *ngFor="let document of documents"
                        (click)="onOpenItem(document)">
                        <mat-icon mat-list-icon>description</mat-icon>
                        <div mat-line>{{document.title}}</div>
                        <div mat-line>{{document.date | date}}</div>
                    </mat-list-item>
                </mat-list>
            </ng-container>
        </mat-frontlayer-content>
    </mat-frontlayer> -->

    <mat-frontlayer-group #frontlayerTabs>
        <mat-frontlayer>
            <h2 mat-frontlayer-title>frontlayer 0</h2>
            <mat-frontlayer-content>
                <button mat-button (click)="openPopover()">popover</button>
            </mat-frontlayer-content>
        </mat-frontlayer>
        <mat-frontlayer>
            <h2 mat-frontlayer-title>frontlayer 1</h2>
            <mat-frontlayer-content>frontlayer 1</mat-frontlayer-content>
        </mat-frontlayer>
        <mat-frontlayer>
            <div mat-frontlayer-title>
                <h2>frontlayer 2</h2>
                <div style="flex: 1 1 auto;"></div>
                <button mat-icon-button mat-frontlayer-close>
                    <mat-icon>expand_more</mat-icon>
                </button>
            </div>
            <mat-frontlayer-content>frontlayer 2</mat-frontlayer-content>
        </mat-frontlayer>
    </mat-frontlayer-group>

</mat-backdrop>

<ng-template #frontlayer1>
    <h2 mat-frontlayer-title>test 0</h2>
    <mat-frontlayer-content>
        test 0
        <button mat-button (click)="openPopover()">popover</button>
    </mat-frontlayer-content>
</ng-template>

<ng-template #frontlayer2>
    <h2 mat-frontlayer-title>test 1</h2>
    <mat-frontlayer-content>test 1</mat-frontlayer-content>
</ng-template>

<ng-template #frontlayer3>
    <div mat-frontlayer-title>
        <h2>test 2</h2>
        <div style="flex: 1 1 auto;"></div>
        <button mat-icon-button mat-frontlayer-close>
            <mat-icon>expand_more</mat-icon>
        </button>
    </div>
    <mat-frontlayer-content>test 2</mat-frontlayer-content>
</ng-template>