.list-item:hover {
    cursor: pointer;
}

.search-input {
    padding-top: 80px;
    min-width: 250px;
    width: 250px;
}

::ng-deep .mat-form-field-flex {
    background-color: rgba($color: #FFFFFF, $alpha: 0.12) !important;
}

::ng-deep .mat-focused .mat-form-field-label {
    color: white !important;
}

::ng-deep .mat-form-field-ripple {
    background-color: white !important;
}

.divider {
    margin-top: 40px;
    margin-bottom: 40px;
    border-top-color: rgba($color: #FFFFFF, $alpha: 0.12);
}