backdrop-container {
    color: white;
}

front-layer-content {
    padding-top: 26px;
    padding-left: 48px;
    padding-right: 48px;
}

.list-item:hover {
    cursor: pointer;
}
  
.search-input {
    padding-top: 80px;
    min-width: 500px;
    width: 500px;
}