<mat-backdrop [matBackdropTriggerFor]="frontlayer">

    <mat-backlayer [color]="settings.backlayerColor">
        <mat-backlayer-title>
            <button mat-backlayer-close style="border-radius: 50%;" matRipple [matRippleCentered]="true"
                [matRippleUnbounded]="true" [matRippleColor]="'rgba(255, 255, 255, 0.5)'" (close)="onCloseSettings()"
                (default)="onBack()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <div style="flex: 1 1 auto;"></div>
            <button *ngIf="!settingsOpened" mat-backlayer-move [offset]="'full'" (move)="onOpenSettings()">
                <mat-icon>tune</mat-icon>
            </button>
        </mat-backlayer-title>
        <mat-backlayer-content fxLayout="column">
            <app-settings></app-settings>
        </mat-backlayer-content>
    </mat-backlayer>

    <mat-frontlayer #frontlayer>
        <h2 mat-frontlayer-title>Document</h2>
        <mat-frontlayer-content>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin condimentum sapien sed libero auctor
                    congue.
                    Nam
                    egestas dignissim ex non ultrices. Proin lectus augue, efficitur a commodo quis, tristique nec enim.
                    Fusce
                    iaculis est odio, et iaculis nulla luctus eget. Duis non odio nec augue convallis sollicitudin.
                    Vivamus
                    libero
                    dolor, mattis sit amet auctor ac, tempus ac nunc. Quisque justo massa, mattis sit amet sapien sit
                    amet,
                    ornare
                    dictum nulla.
                </p>
                <p>
                    Aenean maximus non mi convallis aliquam. In nibh eros, convallis quis dui in, efficitur sollicitudin
                    quam.
                    Phasellus non malesuada nulla, sit amet fermentum massa. Maecenas eget libero tempus, condimentum
                    sem sit
                    amet,
                    sagittis augue. Mauris quis posuere sem, non viverra nibh. Suspendisse eget tellus facilisis,
                    dignissim mi
                    aliquam, euismod nisi. Nullam tincidunt non felis quis luctus.
                </p>
                <p>
                    Quisque molestie imperdiet metus, sed tincidunt augue elementum eget. Aenean lacinia diam vel
                    maximus
                    ullamcorper. Pellentesque porta condimentum neque a cursus. Nullam convallis leo quam, ac mattis
                    neque
                    vehicula
                    quis. Cras interdum euismod placerat. Fusce tempor, elit et egestas tincidunt, dolor tortor suscipit
                    dui,
                    quis
                    ultricies nunc nisl at arcu. In hac habitasse platea dictumst. Pellentesque vitae blandit nisi. Sed
                    dignissim
                    eleifend finibus. Donec aliquam, erat et consectetur sagittis, dui nisl blandit ligula, varius
                    fermentum
                    purus
                    enim nec augue. Nulla id facilisis leo.
                </p>
                <p>
                    Morbi et justo nunc. Nam id scelerisque sem. Nunc in lacinia enim, tempus aliquam lorem. Phasellus
                    turpis
                    magna,
                    vulputate at consectetur non, sollicitudin ac dui. Duis sem massa, molestie id pellentesque vitae,
                    maximus
                    fringilla nibh. Etiam diam justo, accumsan eget risus eget, tincidunt vehicula nunc. Pellentesque
                    quis nulla
                    est. Donec viverra sapien eget mi sollicitudin, sed volutpat tellus convallis. Suspendisse vitae
                    dictum
                    augue.
                    Maecenas lacus diam, convallis non consequat ac, viverra quis ex. Mauris lacinia rhoncus luctus.
                    Maecenas
                    quis
                    consectetur lacus, nec finibus neque.
                </p>
                <p>
                    In vel purus et sem dapibus sagittis in imperdiet ligula. Proin varius, nibh et fermentum egestas,
                    mauris
                    elit
                    iaculis erat, maximus iaculis velit odio non ex. Curabitur faucibus risus eu nunc semper, ac
                    faucibus lectus
                    iaculis. Nullam eu dui ornare, consectetur urna eu, malesuada erat. Donec vehicula semper dolor, vel
                    aliquam
                    quam condimentum eu. Phasellus convallis lorem in ante imperdiet gravida. Aliquam malesuada
                    hendrerit
                    dapibus.
                    Nunc nulla nisi, facilisis quis sem at, dictum pretium nulla.
                </p>
            </div>
        </mat-frontlayer-content>
        <mat-frontlayer-actions>
            <button mat-icon-button (click)="showDetails()">
                <mat-icon>info</mat-icon>
            </button>
        </mat-frontlayer-actions>
    </mat-frontlayer>

</mat-backdrop>

<ng-template #popover>
    <div mat-frontlayer-title>
        <h2>test</h2>
        <div style="flex: 1 1 auto"></div>
        <button mat-frontlayer-close>
            <mat-icon>expand_more</mat-icon>
        </button>
    </div>
    <mat-frontlayer-content>test</mat-frontlayer-content>
</ng-template>