<mat-backdrop [matBackdropTriggerFor]="frontlayer">

    <mat-backlayer>
        <mat-backlayer-title>
            <button mat-backlayer-close style="border-radius: 50%;" matRipple [matRippleCentered]="true"
                [matRippleUnbounded]="true" [matRippleColor]="'rgba(255, 255, 255, 0.5)'" (click)="onBack()">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </mat-backlayer-title>
        <mat-backlayer-content>
        </mat-backlayer-content>
    </mat-backlayer>

    <mat-frontlayer #frontlayer [topPosition]="'125px'">
        <h2 mat-frontlayer-title>Document</h2>
        <mat-frontlayer-content>
            bla
        </mat-frontlayer-content>
    </mat-frontlayer>

</mat-backdrop>